<%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
<div class="page-header">
  <h1>Home</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Ocorrências</h3>
  </div>
  <div class="panel-body">
    <h2>Estatísticas</h2>
    
    <div>
      <span>Acidentes agrupados por natureza</span>
      <%= pie_chart Acidente.group(:natureza).count %>
    </div>
    
    <div>
      <span>Concentração de acidentes em cada dia da semana</span>
      <%= line_chart Acidente.group_by_day_of_week(:data_hora, format: "%a").count %>
    </div>
  </div>
  <div class="panel-body">
    <h2>Filtros</h2>
    
    <%= form_tag({controller: "acidentes", action: "index"}, method: "post", class: "") do %>
      <div class="form-group"> 
        <%= label_tag(:vitimas, "Com ou sem vítimas?", { class: 'control-label'}) %>
        <%= select_tag(:vitimas, options_for_select([['Apenas com vítimas', :com], ['Apenas sem vítimas', :sem],['Com e sem vítimas', :com_sem]], :com_sem), { class: 'form-control'})  %>
      </div>
      
      <div class="form-group">
        <%= label_tag(:date_input_date_start, "A partir de", { class: 'control-label'}) %>
        <%= date_field(:date_input, :date_start) %>
      </div>
      
      <div class="form-group">
        <%= label_tag(:date_input_date_end, "Até", { class: 'control-label'}) %>
        <%= date_field(:date_input, :date_end) %>
      </div>
      
      <%= submit_tag("Consultar", { class: 'btn btn-primary'}) %>
    <% end %>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>Código</th>
        <th>Data/Hora</th>
        <th>Vítimas</th>
        <th>Descrição</th>
        <th>Endereço</th>
        <th>Natureza</th>
        <th>Detalhes</th>
      </tr>
    </thead>
    <tbody>
      <% @acidentes.each do |acidente| %>
        <tr>
          <td><%= acidente.id %></td>
          <td><%= acidente.data_hora.strftime('%d/%m/%Y %H:%M:%S') %></td>
          <td><%= acidente.vitimas %></td>
          <td><%= acidente.descricao %></td>
          <td><%= acidente.endereco %></td>
          <td><%= acidente.natureza %></td>
          <td><%= link_to 'Detalhes', acidente_path(acidente) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>