<h1>Novo Acidente</h1>

<%= form_for :acidente,  url: acidentes_path do |f| %>

<div class="form-group">
  <p>
    <%= label_tag(:descricao, "Descrição", { class: 'control-label'}) %><br>
    <%= f.text_field :descricao %>
  </p>
</div>
  
<div class="form-group">
  <p>
    <%= label_tag(:vitimas, "Quantidade de vítimas", { class: 'control-label'}) %><br>
    <%= number_field(:acidente, :vitimas, min: 0) %>
  </p>
</div>
  
<div class="form-group">
  <p>
    <%= label_tag(:local, "Local", { class: 'control-label'}) %><br>
    <%= f.text_field :local %>
  </p>
</div>

<div class="form-group">
  <p>
    <%= f.submit %>
  </p>
</div>

<% end %>