<h2>Acidente</h2>

<p>
  <strong>Data/Hora:</strong>
  <%= @acidente.data_hora %>
</p>

<p>
  <strong>Vítimas:</strong>
  <%= @acidente.vitimas %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @acidente.descricao %>
</p>

<p>
  <strong>Natureza:</strong>
  <%= @acidente.natureza %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @acidente.bairro %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @acidente.endereco %>
</p>

<p>
  <strong>Número:</strong>
  <%= @acidente.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @acidente.complemento %>
</p>

<%= link_to 'Visualizar Mapa', google_map(@acidente.endereco + @acidente.numero.to_s), target: "_blank", class: "btn btn-large btn-primary" %>

<!-- Corrigir código abaixo -->
<%= content_tag :iframe, 
  width: '300', 
  height: '300', 
  frameborder: '0', 
  style: 'border:0', 
  src: google_map_source(@acidente.endereco + @acidente.numero.to_s), 
  allowfullscreen: '' do %>
<% end %>

<% if @acidente.comentarios.count > 0 %>
  <h2>Comentários</h2>
<% end %>

<%= render @acidente.comentarios %>

<%= render 'comentarios/form' %>
  
<%= link_to 'Voltar', acidentes_path %>